#! /bin/bash

# Transmission needs to know which VPN provider is used
export OPENVPN_PROVIDER={{ .Env.OPENVPN_PROVIDER }}

export ENABLE_UFW={{ .Env.ENABLE_UFW }}
export TRANSMISSION_WEB_UI={{ .Env.TRANSMISSION_WEB_UI }}

export PUID={{ .Env.PUID }}
export PGID={{ .Env.PGID }}

# Need to pass through our tinyproxy settings
export WEBPROXY_ENABLED={{ .Env.WEBPROXY_ENABLED }}
export WEBPROXY_PORT={{ .Env.WEBPROXY_PORT }}

# Support dropping the default route after connection
export DROP_DEFAULT_ROUTE={{ .Env.DROP_DEFAULT_ROUTE }}

# Support using transmission ids for transmission paths
export GLOBAL_APPLY_PERMISSIONS={{ .Env.GLOBAL_APPLY_PERMISSIONS }}
