[Application]
FileLogger\Age=1
FileLogger\AgeType=1
FileLogger\Backup=true
FileLogger\DeleteOld=true
FileLogger\Enabled=true
FileLogger\MaxSizeBytes=66560
FileLogger\Path=/config/qBittorrent/logs

[AutoRun]
enabled=false
program=

[Preferences]
Downloads\SavePath=/data/
Connection\InterfaceAddress={{ .Env.TRANSMISSION_BIND_ADDRESS_IPV4 }}
